<div class="topnav">
    <a href="{% url 'add_author' %}">Dodaj Autora</a>
    <a href="{% url 'list_author' %}">lista autorow</a>
    {% if perms.b_app.add_book %}
        <a href="{% url 'add_book' %}">dodaj książke</a>
    {% endif %}
    <a href="{% url 'list_books' %}">lista książek</a>
    <a href="{% url 'add_publisher_model' %}">dodaj Wydawce</a>
    <a href="{% url 'create_publisher' %}">craete Wydawce</a>
    <a href="{% url 'list_users' %}">Lista Użytkowników</a>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'registration' %}">Rejestracja</a>
    {% endif %}

</div>
